# dépendances locales (IMPORTANT)
node_modules

# build Angular
dist
out-tsc

# logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# git
.git
.gitignore

# IDE / éditeurs
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# cache Angular / Node
.angular
.cache